<div>
    <app-top-header></app-top-header>
</div>
<header id="site-header">
    <div class="container">
        <h1 class="cart-title">My Shopping Cart <label>({{totalItemsInCartDesc}})</label></h1>
    </div>
</header>

<div class="container" *ngFor="let product of cartproducts; let i=index">

    <section id="cart"> 
        <article class="product">
            <header>
                <a>
                    <img [src]='product.imageUrl'
                    [title]='product.productName'>
                </a>
            </header>

            <div class="content">

                <h1>{{product.productName}}</h1>

                 {{product.description}}

                 <div style="float: right;"><button type="button" class="btn-lblue" (click)="deleteItem(i)"><i class="fa fa-trash fa-2x" aria-hidden="true"></i>  Remove </button></div>

                <!-- <div title="You have selected this product to be shipped in the color yellow." style="top: 0" class="color yellow"></div>
                <div style="top: 43px" class="type small">Size 11.5</div> -->
            </div>

            <footer class="content">
                <div>
                    <span class="qt-action-icons" (click)="qtyDecrease(product)">-</span>
                    <span class="qt">{{product.quantity}}</span>
                    <span class="qt-action-icons" (click)="qtyIncrease(product)">+</span>
                </div>

                <div>
                    <h2 class="full-price">
                        ₹{{product.totalPrice}}
                    </h2>
                    <h2 class="price">
                        ₹{{product.price}}
                    </h2>
                </div> 

            </footer>
        </article>


    </section>

</div>

<footer id="site-footer">
    <div class="container clearfix">

        <div class="left">
            <h2 class="subtotal">Subtotal: ₹<span>{{total}}</span></h2>
            <h3 class="tax">Taxes (0%): ₹<span>0.0</span></h3>
            <h3 class="shipping">Shipping: ₹<span>0.00</span></h3>
        </div>

        <div class="right">
            <h1 class="total">Total: ₹<span>{{total}}</span></h1>
            <a class="checkout-btn">Checkout
                <span class="arrow_right" href="#"><i class="fa fa-arrow-right checkout-icon"></i></span>
            </a>
        </div>

    </div>
</footer>
<div>
    <app-footer></app-footer>
</div>