<div>
    <app-top-header></app-top-header>
</div>
<div class="section popular center-main-block clearfix">
    <div class="anouncement-bar">
        <p>
            Rathna Art is open and we're shipping. Discover the world of art. Learn More.
        </p>
    </div>
    <h1 class="text_underline">Available Products</h1>
    <div class="block4-container">
        <div class="block4-main" *ngFor='let product of products'>
                <div class="block4-content"  [routerLink]="['/details',product.productId]">
                <div class="block4-content-tall">
                    <h2><img 
                        [src]='product.imageUrl'
                        [title]='product.productName'
                        class="popular-product-images"></h2>
                    <h3>{{ product.productName }}</h3>
                    <p>The Nike Tailwind Loose Women's Running Tank 
                Top is made with sweat-wicking fabric to help you 
                stay dry and comfortable on your run.
                    </p>
                </div>
                    <div class="price-basket">
                        <span class="price">₹{{ product.price }}</span>
                        <span class="basket">
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>
